@import '@fontsource/rajdhani/400.css';
@import '@fontsource/rajdhani/500.css';
@import '@fontsource/rajdhani/600.css';
@import '@fontsource/rajdhani/700.css';
@import '@fontsource/rajdhani/900.css';
@import 'tailwindcss';

html { display: block; }

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-rajdhani: "Rajdhani", sans-serif;
}

@layer base {
  body {
    @apply font-rajdhani;
  }
}

body {
  overflow-y: scroll;
}
